

  <form role="form" action="/login" method="POST">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-describedby="sizing-addon1">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
      <span class="input-group-btn"><button type="submit" class="btn btn-default">Log in</button></span>
    </div>
  </form>
  {{#if errors}}
  <div class="container alert-danger errorDiv">
      {{#each errors}}
      <ul>
        <li>{{this.msg}}</li>
      </ul>
      {{/each}}
  </div> 
  {{/if}}
